body {
    font-family: "Museo Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
    font-size: 14px;
    width: 100%;
    color: #43464b;
    margin: 0px;
}

body ::selection {
    background: rgba(241, 99, 52, .75);
}

* {
    box-sizing: border-box;
}

#seo-app {
    display: flex;
    flex-direction: column;
}

a {
    color: #43464b
}

p {
    margin: 0px;
}

.container {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 992px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1.25rem;
    color: #43464b;
    padding: 0;
}

h2 {
    margin: 0;
    font-size: 33px;
}

h3 {
    font-size: 23px;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.strong {
    font-weight: 600;
}

.align-items-center {
    align-items: center;
}

.margbot-1 {
    margin-bottom: 15px;
}

.justify-content-space-beetween {
    justify-content: space-between;
}

@media (max-width: 992px) {
    .flexdir-col {
        flex-direction: column;
    }
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    vertical-align: center;
    border-style: none;
    height: auto;
    vertical-align: middle;
}

.hidden {
    display: none !important;
}

.primary-color {
    color: #f16334;
}

@media (min-width: 992px) {
    .margbot-2 {
        margin-bottom: 2rem;
    }
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

@media (min-width: 992px) {
    .order-l-1 {
        order: 1;
    }

    .order-l-2 {
        order: 2;
    }

    .order-l-3 {
        order: 3;
    }
}

.orange:hover{
    color: #f16334;
    transition: .5s;
}

.black-bg {
    background-color: #000;
}

.gray-bg {
    background-color: #262626;
}

.scroll-button {
    transform: translateX(120px);
    position: fixed;
    z-index: 9999;
    bottom: 3rem;
    right: 3rem;
    transition: 1s;
}

.scroll-img {
    display: block;
    max-width: 65px;
    background-color: #ee543a;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .skroll-img {
        transition: 1s;
        z-index: 9999;
    }
}

@media (min-width: 768px) {
    .block {
        display: block !important;
    }
}

.columns {
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .columns {
        max-width: 50% !important;
    }
}