body {
    font-family: "Museo Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
    font-size: 14px;
    width: 100%;
    color: #43464b;
    margin: 0;
}

a {
    color: #43464b
}

p{
    margin: 0;
}

header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-image: url(https://seo-akademiya.imgix.net/site-assets/dist/images/header-bg.jpg?q=75&fm=jpg&bg=white&w=1920&h=987&fit=crop&sat=-100);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.top-row {
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 32px;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.logo {
    position: relative;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

img {
    border-style: none;
    height: auto;
    display: inline-block;
    max-width: 100%;
    vertical-align: center;
}

.logo-intro {
    font-size: .8rem;
    padding-top: .25rem;
    line-height: .9rem;
}

.header-dates {
    position: relative;
    flex: 0 0 66%;
    width: 66%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    font-size: 1.5rem;
}

.primary-dates {
    color: #f16334;
}