body {
    font-family: "Museo Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
    font-size: 14px;
    width: 100%;
    color: #43464b;
    margin: 0px;
}

body ::selection {
    background: rgba(241, 99, 52, .75);
}

* {
    box-sizing: border-box;
}

#seo-app {
    display: flex;
    flex-direction: column;
}

a {
    color: #43464b
}

p {
    margin: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1.25rem;
    color: #43464b;
    padding: 0;
}

.margbot-1 {
    margin-bottom: 1rem;
}

.strong {
    font-weight: 600;
}

header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-image: url(https://seo-akademiya.imgix.net/site-assets/dist/images/header-bg.jpg?q=75&fm=jpg&bg=white&w=1920&h=987&fit=crop&sat=-100);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row {
    flex-wrap: wrap;
}

.top-container {
    padding-top: 0px;
}

.container {
    width: 100%;
    padding-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.top-row {
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: relative;
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    text-align: left;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    vertical-align: center;
    border-style: none;
    height: auto;
    vertical-align: middle;
}

.logo-intro {
    font-size: .8rem;
    padding-top: .25rem;
    padding-left: 1.7rem;
    line-height: .9rem;
    color: #43464b;
}

.hiden {
    display: none;
}

@media (min-width: 768px) {
    .logo-intro {
        display: block;
    }
}

.header-dates {
    position: relative;
    width: 67%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.dates {
    align-items: center;
}

.main.dates {
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .main-dates {
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: left;
    }
}

.primary-color {
    color: #f16334;
}

.left-container {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.left-column {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.left-text-1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #43464b;
}

.left-text-2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: #000;
    font-weight: 700;
}

@media only screen and (min-width: 992px) {
    .logo-intro {
        padding-left: .5rem;
    }
}

@media (min-width: 768px) {
    .block {
        display: block;
    }
}

@media (min-width: 992px) {
    .header-dates {
        margin-left: 8.33333%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 992px) {
    .left-text-1 {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .margbot-2 {
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {

    .left-text-1,
    .left-text-2,
    .logo {
        text-align: left;
    }
}

.timer-container {
    justify-content: center;
    display: flex;
}

@media (min-width: 992px) {
    .timer-container {
        justify-content: flex-start;
    }
}

.timer {
    padding-bottom: 1rem;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .timer {
        padding-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .timer {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}

@media (min-width: 992px) {
    .timer {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
}

.timer-border {
    border: 1px solid #f16334;
    padding: 1rem;
}

.timer-info {
    color: #43464b;
    line-height: 1.2rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .timer-info {
        margin-bottom: 1rem;
    }
}

.alert-container {
    margin-top: auto;
    margin-bottom: 1rem;
    width: 100%;
    padding-top: 1rem;
}

.alert {
    color: #43464b;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    margin: 0px;
    padding: .75rem 1.25rem;
    align-items: center;
    display: flex;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.alert-img {
    min-width: 3rem;
    margin-right: 1rem;
    display: inline-flex;
}

.right-container {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.right-column {
    border: 5px solid #f16334;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(241, 99, 52, .25);
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
}

.colums {
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .right-container {
        margin-left: 0;
    }
}

.right-text-1 {
    text-align: left;
    display: flex;
}

@media (min-width: 768px) {
    .right-column {
        padding: 3rem;
    }
}

@media (min-width: 576px) {
    .right-column {
        padding: 2rem;
    }
}

.announcement {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.annon-img {
    min-width: 3rem;
    text-align: left;
}

.form {
    justify-content: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

.form-control {
    border: 1px solid #999;
    border-radius: .25rem;
    width: 100%;
    font-weight: 100;
    padding: 1rem;
    height: 3.5rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #495057;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sms-reminder {
    font-size: .8rem;
    text-align: left;
    margin-top: 1rem;
}

.button {
    padding-top: 1rem;
    text-align: center;
    max-width: 100%;
}

.btn {
    padding: 1.28rem 4.4rem;
    border-radius: 2.2rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    background-color: #ee543a;
    border-color: transparent;
    color: #fff;
    transition: .4s cubic-bezier(.65, .65, .07, 1);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    .btn {
        padding: 1.25rem 5rem;
    }
}

@media only screen and (max-width: 576px) {
    .btn {
        padding: 1rem 2.6rem;
    }
}

.free-pdf {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 100%;
    align-items: center;
    display: flex;
    text-align: left;
}

.pdf-img {
    min-width: 3.5rem;
    margin-right: 1rem;
}

.pdf-text {
    line-height: 1.2rem;
    font-size: 1rem;
}

.pdf-strong {
    display: block;
    width: 100%;
    line-height: 1.4rem;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.main {
    display: flex;
}

.trening-plan {
    align-items: center;
    display: flex;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

.left-trening,
.right-trening {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.trening-text-1 {
    line-height: 2rem;
    font-size: 1.5rem;
}

.white-text {
    background-color: #f16334;
    color: #fff;
}

.list{
    font-size: 1.2rem;
}

@media (min-width: 992px) {
    .columns {
        flex: 0 0 50%;
        max-width: 50%;
    }
}