body {
    font-family: "Museo Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background: #fff;
    font-size: 14px;
    width: 100%;
    color: #43464b;
    margin: 0px;
}

body ::selection {
    background: rgba(241, 99, 52, .75);
}

* {
    box-sizing: border-box;
}

#seo-app {
    display: flex;
    flex-direction: column;
}

a {
    color: #43464b
}

p {
    margin: 0px;
}

.container {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Museo Sans", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1.25rem;
    color: #43464b;
    padding: 0;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.strong {
    font-weight: 600;
}

.align-items-center {
    align-items: center;
}

.margbot-1 {
    margin-bottom: 15px;
}

.justify-content-space-beetween {
    justify-content: space-between;
}

@media (max-width: 992px) {
    .flexdir-col {
        flex-direction: column;
    }
}

header {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-image: url(https://seo-akademiya.imgix.net/site-assets/dist/images/header-bg.jpg?q=75&fm=jpg&bg=white&w=1920&h=987&fit=crop&sat=-100);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-container {
    width: 100%;
}

.top-row {
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    position: relative;
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    text-align: left;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    vertical-align: center;
    border-style: none;
    height: auto;
    vertical-align: middle;
}

.logo-intro {
    font-size: .8rem;
    padding-top: .25rem;
    padding-left: 1.7rem;
    line-height: .9rem;
    color: #43464b;
}

@media only screen and (min-width: 992px) {
    .logo-intro {
        padding-left: .5rem;
    }
}

.hidden {
    display: none !important;
}

@media (min-width: 768px) {
    .block {
        display: block !important;
    }
}

.header-dates {
    position: relative;
    width: 67%;
    padding-left: 15px;
    padding-right: 15px;
}

.calendar{
    max-width: 25px;
    max-height: 25px;
    margin-right: 15px;
}

.main.dates {
    font-size: 15px;
    line-height: 1.2rem;
}

@media (min-width: 768px) {
    .main-dates {
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: left;
    }
}

.primary-color {
    color: #f16334;
}

.left-container {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.left-column {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
}

@media (max-width: 992px) {
    .left-column {
        text-align: center;
    }
}

.left-text-1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #43464b;
}

.left-text-2 {
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: #000;
    font-weight: 700;
}

@media (min-width: 992px) {
    .header-dates {
        margin-left: 8.33333%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 992px) {
    .left-text-1 {
        font-size: 1.8rem;
    }
}

@media (min-width: 992px) {
    .margbot-2 {
        margin-bottom: 2rem;
    }
}

.timer {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    .timer {
        padding-bottom: 2rem;
    }
}

.timer-border {
    border: 1px solid #f16334;
    padding: 15px;
}

.timer-info {
    color: #43464b;
    line-height: 1.2rem;
    font-size: 15px;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .timer {
        max-width: 83.33333%;
    }
}

@media (min-width: 992px) {
    .timer {
        max-width: 83.33333%;
    }
}

@media (min-width: 992px) {
    .timer-container {
        justify-content: flex-start;
    }
}

.alert-container {
    margin-top: auto;
    width: 100%;
    padding-top: 15px;
}

.alert {
    color: #43464b;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    margin: 0px;
    padding: .75rem 1.25rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.alert-img {
    min-width: 3rem;
    margin-right: 15px;
    display: inline-flex;
}

.right-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

@media (max-width: 992px) {
    .alert-container {
        margin-bottom: 15px;
    }
}

.right-column {
    border: 5px solid #f16334;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(241, 99, 52, .25);
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
}

.colums {
    flex-wrap: wrap;
}

@media (min-width:992) {

    .left-column,
    .right-container {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .right-container {
        margin-left: 0;
    }
}

.right-text-1 {
    text-align: left;
}

@media (min-width: 768px) {
    .right-column {
        padding: 3rem;
    }
}

@media (min-width: 576px) {
    .right-column {
        padding: 2rem;
    }
}

.announcement {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.annon-img {
    min-width: 3rem;
    text-align: left;
}

.form {
    justify-content: center;
    width: 100%;
    margin: 0;
    display: block;
}

.form-group {
    flex-direction: column;
}

.form-control {
    max-width: 100%;
    border: 1px solid #999;
    border-radius: .25rem;
    width: 100%;
    font-weight: 100;
    padding: 15px;
    height: 3.5rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #495057;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #f16334;
    border-color: #f16334;
}

.sms-reminder {
    font-size: 13px;
    text-align: left;
    margin-top: 15px;
}

.button {
    padding-top: 15px;
    max-width: 100%;
}

.btn {
    padding: 20px;
    width: 100%;
    border-radius: 34px;
    font-size: 23px;
    line-height: 24px;
    background-color: #ee543a;
    border-color: transparent;
    color: #fff;
    transition: .4s cubic-bezier(.65, .65, .07, 1);
}

.btn:hover {
    background-color: red;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .btn {
        padding: 15px 37px;
    }
}

.free-pdf {
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    text-align: left;
    align-items: center;
}

.pdf-img {
    min-width: 70px;
    margin-right: 15px;
}

.pdf-text {
    line-height: 20px;
    font-size: 15px;
}

.pdf-strong {
    display: block;
    width: 100%;
    line-height: 16px;
    font-size: 18px;
    margin-bottom: 8px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.trening-plan {
    flex-wrap: wrap;
}

h2 {
    margin: 0;
    font-size: 33px;
}

.left-trening,
.right-trening {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

.trening-text-1 {
    line-height: 30px;
    font-size: 23px;
}

.white-text {
    background-color: #f16334;
    color: #fff;
}

.list {
    font-size: 18px;
    padding-left: 30px;
}

.list>li{
    list-style: decimal;
}

@media (min-width: 992px) {
    .columns {
        max-width: 50%;
    }
}

.schedule {
    border-top: 5px solid #f16334;
}

.gray-text {
    color: #999;
}

.date {
    width: 100%;
    padding-top: 15px;
}

h3 {
    font-size: 23px;
}

.event {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .event {
        max-width: 33%;
    }
}


@media (min-width: 992px) {
    .event {
        max-width: 25%;
    }
}

.event-title {
    border-bottom: 2px solid #000;
    font-size: 27px;
    line-height: 27px;
    font-weight: 100;
    margin-bottom: 15px;
}

.event-text {
    font-size: 17px;
    line-height: 20px;
}

.services {
    margin-top: auto;
    margin-bottom: auto;
}

.speecher {
    padding-bottom: 0;
}

.speecher-info {
    flex-direction: column;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.achievments {
    line-height: 1.5;
    font-size: 15px;
}

.circle {
    max-width: 15px;
    margin-right: 10px;
}

ul.achievments li {
    margin-bottom: 7px;
    list-style: none;
    align-items: center;
}

.speecher-photo {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {

    .speecher-info,
    .speecher-photo {
        max-width: 50%;
    }
}

.pavel {
    position: absolute;
    bottom: 0;
    height: 100%;
}

.pavel>img {
    height: 100%;
}

@media (max-width: 768px) {
    .speecher-photo {

        position: static;
    }

    .pavel {
        position: static;
    }
}

@media (max-width: 992px) {
    .pavel {
        max-width: 80%;
        margin: auto;
        padding-top: 15px;
        height: auto;
    }

    .pavel>img {
        height: auto;
    }
}

.socnet {
    list-style-type: none;
}

.socnet li {
    max-width: 25px;
    margin-right: 20px;
    transition: 0.3s;
}

.socnet>li>a>img:hover {
    color: #ee543a;
    transition: .5s;
}

.footer {
    text-align: center;
}

.gray-bg {
    background-color: #262626;
}

.scroll-button {
    transform: translateX(120px);
    position: fixed;
    z-index: 9999;
    bottom: 3rem;
    right: 3rem;
    transition: 1s;
}

.scroll-img {
    display: block;
    max-width: 65px;
    background-color: #ee543a;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .skroll-img {
        transition: 1s;
        z-index: 9999;
    }
}

.footer-text,
.footer-logo,
.footer-phones {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.footer-logo {
    max-width: 100%;
}

@media (min-width: 992px) {
    .footer-logo {
        max-width: 25%;
    }

    .footer-text {
        max-width: 33%;
        text-align: left;
    }

    .footer-phones {
        max-width: 42%;
        text-align: left;
    }
}

@media (max-width: 992px) {
    .flexdir-col {
        flex-direction: column;
    }
}

.kiev-phone,
.msk-phine {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.kiev,
.msk {
    margin-left: 15px;
    font-size: 15px;
}

.footer-phones>div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .footer-phones>div {
        flex-direction: row;
    }
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

@media (min-width: 992px) {
    .order-l-1 {
        order: 1;
    }

    .order-l-2 {
        order: 2;
    }

    .order-l-3 {
        order: 3;
    }
}

.footer-menu-container {
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer-menu {
    flex-direction: column;
    justify-content: space-between;
}

.black-bg {
    background-color: #000;
}

.footer-menu>li {
    list-style: none;
}

.footer-menu>li>a {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .footer-menu {
        text-align: left;
        flex-direction: row;
    }
}

.orange:hover{
    color: #f16334;
    transition: .5s;
}

#clockdiv{
    font-family: sans-serif;
    color: #f16334;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    border: 1px solid #000;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
    color: #000;
  }
