header {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    background-image: url(https://seo-akademiya.imgix.net/site-assets/dist/images/header-bg.jpg?q=75&fm=jpg&bg=white&w=1920&h=987&fit=crop&sat=-100);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.top-container {
    width: 100%;
}

.top-row {
    box-sizing: border-box;
    overflow: hidden;
}

.logo {
    position: relative;
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    text-align: left;
}

.logo-intro {
    font-size: .8rem;
    padding-top: .25rem;
    padding-left: 1.7rem;
    line-height: .9rem;
    color: #43464b;
}

@media only screen and (min-width: 992px) {
    .logo-intro {
        padding-left: .5rem;
    }
}

.header-dates {
    position: relative;
    width: 67%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .header-dates {
        margin-left: 8.33333%;
    }
}

.calendar{
    max-width: 25px;
    max-height: 25px;
    margin-right: 15px;
}

.main.dates {
    font-size: 15px;
    line-height: 1.2rem;
}

@media (min-width: 768px) {
    .main-dates {
        font-size: 1.5rem;
        line-height: 1.7rem;
        text-align: left;
    }
}

.left-container {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.left-column {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
}

@media (max-width: 992px) {
    .left-column {
        text-align: center;
    }
}

.left-text-1 {
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #43464b;
}

.left-text-2 {
    font-size: 2.6rem;
    line-height: 2.7rem;
    color: #000;
    font-weight: 900;
}

@media (min-width: 992px) {
    .left-text-1 {
        font-size: 1.8rem;
    }
}

.timer {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    .timer {
        padding-bottom: 2rem;
    }
}

.timer-border {
    border: 1px solid #f16334;
    padding: 15px;
}

.timer-info {
    color: #43464b;
    line-height: 1.2rem;
    font-size: 15px;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

#clockdiv{
    font-family: sans-serif;
    color: #f16334;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #fff;
    display: inline-block;
    border: 1px solid #000;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
    color: #000;
  }


@media (min-width: 768px) {
    .timer {
        max-width: 83.33333%;
    }
}

@media (min-width: 992px) {
    .timer {
        max-width: 83.33333%;
    }
}

@media (min-width: 992px) {
    .timer-container {
        justify-content: flex-start;
    }
}

.alert-container {
    margin-top: auto;
    width: 100%;
    padding-top: 15px;
}

.alert {
    color: #43464b;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
    margin: 0px;
    padding: .75rem 1.25rem;
    line-height: 1.4rem;
    font-size: 1.2rem;
}

.alert-img {
    min-width: 3rem;
    margin-right: 15px;
    display: inline-flex;
}

.right-container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

@media (max-width: 992px) {
    .alert-container {
        margin-bottom: 15px;
    }
}

.right-column {
    border: 5px solid #f16334;
    border-radius: .5rem;
    box-shadow: 0 0 2rem rgba(241, 99, 52, .25);
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
}

@media (min-width: 768px) {
    .right-column {
        padding: 3rem;
    }
}

@media (min-width: 576px) {
    .right-column {
        padding: 2rem;
    }
}

@media (min-width:992) {

    .left-column,
    .right-container {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .right-container {
        margin-left: 0;
    }
}

.right-text-1 {
    text-align: left;
}

.announcement {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.annon-img {
    min-width: 3rem;
    text-align: left;
}

.form {
    justify-content: center;
    width: 100%;
    margin: 0;
    display: block;
}

.form-group {
    flex-direction: column;
}

.form-control {
    max-width: 100%;
    border: 1px solid #999;
    border-radius: .25rem;
    width: 100%;
    font-weight: 100;
    padding: 15px;
    height: 3.5rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #495057;
    outline: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #f16334;
    border-color: #f16334;
}

.sms-reminder {
    font-size: 13px;
    text-align: left;
    margin-top: 15px;
}

.button {
    padding-top: 15px;
    max-width: 100%;
}

.btn {
    padding: 20px;
    width: 100%;
    border-radius: 34px;
    font-size: 23px;
    line-height: 24px;
    background-color: #ee543a;
    border-color: transparent;
    color: #fff;
    transition: .4s cubic-bezier(.65, .65, .07, 1);
}

.btn:hover {
    background-color: red;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .btn {
        padding: 15px 37px;
    }
}

.free-pdf {
    border: 1px solid #ccc;
    padding: 15px;
    width: 100%;
    text-align: left;
    align-items: center;
}

.pdf-img {
    min-width: 70px;
    margin-right: 15px;
}

.pdf-text {
    line-height: 20px;
    font-size: 15px;
}

.pdf-strong {
    display: block;
    width: 100%;
    line-height: 16px;
    font-size: 18px;
    margin-bottom: 8px;
}